@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

figure.full-page{
	break-after: page;
	break-before: page;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: center;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

/* The registrar's narrative */
#chapter-11 blockquote header{
	font-variant: small-caps;
	margin-bottom: 1em;
}

/* Routabille's notebook */
#chapter-15 blockquote,
#chapter-16 blockquote,
#chapter-17 blockquote,
#chapter-18 blockquote{
	margin-left: 0;
	margin-right: 0;
}
